*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #3c3125;
  font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER */

.container{
 
  width: 100%; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
 flex-wrap: wrap; 
  padding: 40px;
} 

/* CARD */

.card{
  width: 300px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow:
  0 10px 30px rgba(255,255,255,0.08);
}

/* HOVER EFFECT */

.card:hover{
  transform: translateY(-12px) scale(1.03);
}
.card:hover img{
  transform: scale(1.08);
}

/* IMAGE */

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* OVERLAY */

.overlay{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
}

/* CARD 1 */

.card1 .overlay{
  background:
  linear-gradient(
    to top,
    rgba(153, 97, 60, 0.95),
    rgba(218, 201, 137, 0.2),
    transparent
  );
}

/* CARD 2 */

.card2 .overlay{
  background:
  linear-gradient(
    to top,
    rgba(102, 21, 183, 0.95),
    rgba(0,0,0,0.2),
    transparent
  );
}


/* CARD 3 */

.card3 .overlay{
  background:
  linear-gradient(
    to top,
    rgba(0,120,120,0.95),
    rgba(0,0,0,0.2),
    transparent
  );
}

/* CONTENT */

.content{
  width: 100%;
  padding: 25px;
  color: white;
}



/* NAME ROW */

.name-row{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.name-row h2{
  font-size: 1.7rem;
}

.verify{
  color: lime;
  font-size: 1rem;
}

/* TEXT */

.content p{
  font-size: 0.95rem;
  line-height: 1.5;
  color: rgba(255,255,255,0.85);
  margin-bottom: 20px;
}


/* STATS */

.stats{
  display: flex;
  gap: 15px;
  font-size: 0.95rem;
}


/* BUTTON */

button{
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: white;
  color: black;
}

.card2 button{
  background: rgba(128,0,255,0.4);
}

.card3 button{
  background: rgba(0,255,255,0.25);
}